.requestErrorContainer {
  margin: $spacing-unit * 10 auto;
  text-transform: capitalize;
  text-align: center;
  width: fit-content;
  padding: $spacing-unit * 2;
}

.requestErrorIcon {
  margin: 0 auto;
  color: #fb2c36;
  width: 44px;
  height: 44px;
}

.requestErrorMessage {
  margin: $spacing-unit * 3 auto;
  margin-bottom: $spacing-unit * 5;
  max-width: 400px;
  text-align: center;
  font-size: $font-size-md;
  color: $secondary-foreground-color;
  font-weight: 500;
}

.requestErrorButton {
  display: inline-block;
  background-color: $primary-color;
  border-radius: $spacing-unit * 2;
  padding: $spacing-unit * 2 $spacing-unit * 4;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.85;
  }
}
