$background-color: #fff;
$primary-color: #ff7801;
$primary-foreground-color: #0c0c0c;
$secondary-foreground-color: #828484;
$spacing-unit: 1rem;
$max-width: 1400px;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1024px,
);
