.cellTowersTableContainer {
  max-width: $max-width;
  margin: $spacing-unit * 4 auto $spacing-unit * 8;
  padding: $spacing-unit * 4;

  h2 {
    margin: 0 0 $spacing-unit * 4 0;
    font-size: $font-size-xl;
  }
}
